.container{
    background-color:white;
    height: 1000px;
    /* width: 900px; */
    display: grid;
    
    /* grid-template-columns: repeat(3,1fr );
    grid-template-rows: repeat(3,1fr); */
    grid-template-columns:700px 400px ;
    grid-template-rows: 150px 1000px;
    row-gap: 2px;
    column-gap: 2px;
}
.item{
    background-color: white;
    /* height: 200px;
    width: 400px;
   */
}
.item1{
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;

}
.ast-button{
    border-style: solid;
        border-top-width: 1px;
        border-right-width: 1px;
        border-left-width: 1px;
        border-bottom-width: 1px;
        color: #ffffff;
        border-color: #333333;
        background-color: #559f30;
        border-radius: 8px;
        padding-top: 10px;
        padding-right: 15px;
        padding-bottom: 10px;
        padding-left: 15px;
        font-family: inherit;
        font-weight: inherit;
        line-height: 1em;
       
    }
    .nav-link{

        margin-left: 40px;
        font-size: 100%;
        font-weight: 600;
        padding-inline: 2px;
        letter-spacing: normal;
        font-style: normal;
        word-spacing: 2px;
        }
    .text{
        font-size: 220%;
        font-weight: 400;
        color:#75bdbb;
       margin-top: 100px;
    }
   .item2{
    margin-top: 70px;
   }
   .item3{
    margin-top: 70px;
   }
   .card-title1{
    font-weight: 400;
    color:  #3a3a3a;
    font-size: 185%;
   }
   .card-text1{
    color:#75bdbb;
    font-size:115% ;
   }
.heading1{
    font-size:160% ;
}
.inheading1{
    font-size: 140%;
    color: #75bdbb;
word-spacing: 4px;

}
.heading2{
    font-size:160% ;
  margin-top: 80px;
}
.inheading2{
    font-size: 140%;
    color: #75bdbb;
word-spacing: 4px;
}
.card-title2{
    word-spacing:14px;
}
.heading3{
    font-size: 140%;
    margin-top: 130px;
word-spacing: 4px;
}
.wp-block-button__link{
border-style: solid;
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-color: #333333;
    background-color: #559f30;
    color: #ffffff;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1em;
    border-radius: 8px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 10px;
    
    padding-left: 15px;
}
.wp-button{
    margin-top:150px ;
}

    

.item4{
    background-color: #333333;
    height: 500px;
    margin-top: 3300px;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;

}
li{
    color: white;
}
h4{
    color: white;
}